<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"> 
	<title>Portafolio Luis Fernández</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/pablo.jpeg" width="200" height="200" alt="avatarLuis" class="Header-image" />
			<figcaption class="Header-imageDescription">
				<a href="https://twiter.com/luis_esfera" target="_blank" class="Header-link">@luis_esfera</a>
			</figcaption>
			<p class="Header-name">Luis Fernández</p>
		</figure>
	</header>

	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-tittle">Perfil</h2>
		<p class="Profile-description">Hola, si <span class="Profile-span">llegaste</span> hasta aquí, puedes ver mi portafolio y contactarme.</p>
		<a class="Profile-link" href="https://twiter.com/luis_esfera" target="_blank">@luis_esfera</a>
		<a class="Profile-link" href="#" target="_blank">Facebook Luis</a>
		<a class="Profile-link" href="#" target="_blank">GitHub Luis</a>
	</section>

	<section id="trabajo" class="Work">
		<h2 class="Work-tittle u-tittle">Trabajos</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/BancoInicio.png" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Prototype App - Hola Banco</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/BancoBalance.png" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Prototype App - Hola Banco</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/BancoDetalle.png" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Prototype App - Hola Banco</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb3.jpg" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Website de mejorandola</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb2.jpg" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Website de mejorandola</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/thumb3.jpg" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Website de mejorandola</figcaption>
			</figure>
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Descripcion de la imagen"/>
				<figcaption class="Work-description">Website de mejorandola</figcaption>
			</figure>
		</article>
	</section>

	<footer id="contacto" class="Footer">
		<div class="Footer-left">
			<h3 class="Footer-tittle">Contacto</h3>
			<p class="Footer-description">Si tienes una sugerencia o quieres trabajar conmigo, ponte en contacto con este formulario.</p>
		</div>
		<form action="" class="Footer-form">
			<input class="Footer-formInput" type="text" placeholder="Nombre"/>
			<input class="Footer-formInput" type="email" placeholder="Email"/>
			<textarea class="Footer-textarea" cols="20" rows="5" placeholder="Motivo"></textarea>
			<button type="submit" class="Footer-button">Contactar</button>
		</form>
	</footer>
</body>
</html>